{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('msg', array('op' => 'display'))}">æ¶ˆæ¯åº“ç®¡ç†</a></li>
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('msg', array('op' => 'post'))}">{if $id==0}æ·»åŠ æ¶ˆæ¯åº“{else}ä¿®æ”¹æ¶ˆæ¯åº“{/if}</a></li>

</ul>
<style>
.panel-body {
padding: 10px;
}
</style>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				æ·»åŠ æ¶ˆæ¯åº“
			</div>

			{if !empty($parentid)}
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">ä¸Šçº§æ¶ˆæ¯æ ‡é¢˜</label>
						<div class="col-sm-5">
							<label>{$parent['name']}</label>
						</div>
					</div>
				</div>
			{/if}
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">æ’åº</label>
					<div class="col-sm-5">
						<input type="text" name="displayorder" class="form-control" value="{$category['displayorder']}" />
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">æ¶ˆæ¯æ ‡é¢˜</label>
					<div class="col-sm-5">
						<input type="text" name="catename" class="form-control" value="{$category['name']}" />
					</div>
				</div>
			</div>

			{if empty($parentid)}
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">æ¶ˆæ¯ç±»å‹</label>
					<div class="col-sm-5">
						<label for="enabled3" class="radio-inline"><input type="radio" name="type" value="0" id="enabled3" onclick="desc_hide();thumb_hide();url_hide();media_hide();media_id_hide()"  {if empty($category['type']) || $category['type'] == 0}checked="true"{/if} /> æ–‡æœ¬</label>
						&nbsp;&nbsp;&nbsp;
						<label for="enabled4" class="radio-inline"><input type="radio" name="type" value="1" id="enabled4" onclick="desc_hide();thumb_hide();url_hide();media_hide();media_id_show()" {if !empty($category['type']) && $category['type'] == 1}checked="true"{/if} /> å›¾ç‰‡</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled5" class="radio-inline"><input type="radio" name="type" value="2" id="enabled5" onclick="desc_show();thumb_show();url_show();media_hide();media_id_hide()" {if !empty($category['type']) && $category['type'] == 2}checked="true"{/if} /> å•å›¾æ–‡</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled6" class="radio-inline"><input type="radio" name="type" value="3" id="enabled6" onclick="desc_hide();thumb_hide();url_hide();media_hide();media_id_hide()" {if !empty($category['type']) && $category['type'] == 3}checked="true"{/if} /> å¤šå›¾æ–‡</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled7" class="radio-inline"><input type="radio" name="type" value="4" id="enabled7" onclick="desc_hide();thumb_hide();url_hide();media_show();media_id_hide()" {if !empty($category['type']) && $category['type'] == 4}checked="true"{/if} /> è¯­éŸ³</label>
					</div>
				</div>
			</div>
			{/if}

			{if !empty($parentid)}
			<div class="panel-body" id="desc" >
			{else}
				{if $category['type']==2}
				<div class="panel-body" id="desc">
				{else}
				<div class="panel-body" id="desc" style="display:none">
				{/if}
			{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">å›¾æ–‡æè¿°</label>
					<div class="col-sm-5">
						<textarea class="form-control" rows="5" name="description">{$category['description']}</textarea>
					</div>
				</div>
			</div>
			{if !empty($parentid)}
				<div class="panel-body" id="url">
			{else}
				{if $category['type']==2}
				<div class="panel-body" id="url">
				{else}
				<div class="panel-body" id="url" style="display:none">
				{/if}
			{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">URL</label>
					<div class="col-sm-5">
						<input type="text" name="url" class="form-control" value="{$category['url']}" />
					</div>
				</div>
			</div>


			{if $category['type']==1}
				<div class="panel-body" id="media_id">
			{else}
				<div class="panel-body" id="media_id" style="display:none">
			{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">å›¾ç‰‡</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_wechat_image('media_id', $category['media_id']);}
					</div>
				</div>
			</div>

			{if !empty($parentid)}
				<div class="panel-body" id="thumb">
			{else}
				{if $category['type']==2}
					<div class="panel-body" id="thumb">
				{else}
					<div class="panel-body" id="thumb" style="display:none">
				{/if}
			{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">å›¾ç‰‡</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('picurl', $category['picurl']);}
					</div>
				</div>
			</div>

			{if $category['type']==4}
				<div class="panel-body" id="media">
			{else}
				<div class="panel-body" id="media" style="display:none">
			{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">éŸ³é¢‘</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_wechat_voice('media', $category['media']);}
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">æ˜¯å¦æ˜¾ç¤º</label>
					<div class="col-sm-5">
						<label for="enabled1" class="radio-inline"><input type="radio" name="enabled" value="1" id="enabled1" {if !empty($category['enabled']) && $category['enabled'] == 1}checked="true"{/if} /> æ˜¯</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled2" class="radio-inline"><input type="radio" name="enabled" value="0" id="enabled2"  {if empty($category['enabled']) || $category['enabled'] == 0}checked="true"{/if} /> å¦</label>	           
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="hidden" name="id" value="{$category['id']}" />
				<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="æäº¤" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	function desc_show(){
		$("#desc").show();
	}
	function desc_hide(){
		$("#desc").hide();
	}
	function thumb_show(){
		$("#thumb").show();
	}
	function thumb_hide(){
		$("#thumb").hide();
	}
	function url_show(){
		$("#url").show();
	}
	function url_hide(){
		$("#url").hide();
	}
	function media_show(){
		$("#media").show();
	}
	function media_hide(){
		$("#media").hide();
	}
	function media_id_show(){
		$("#media_id").show();
	}
	function media_id_hide(){
		$("#media_id").hide();
	}
</script>

{elseif $operation == 'display'}

<div class="main">
	<div class="category">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					ç®¡ç†æ¶ˆæ¯åº“
				</div>
				<div class="panel-body table-responsive">
					<form action="" method="post" class="form-horizontal form" onsubmit="return formcheck(this)">
					<table class="table table-hover">

					<thead class="navbar-inner">
						<tr>
							<th style="width:10px;"></th>
							<th style="width:100px;">æ˜¾ç¤ºé¡ºåº</th>
							<th style="width:200px;">æ¶ˆæ¯æ ‡é¢˜</th>
							<th style="width:100px;">æ¶ˆæ¯ç±»å‹</th>
							<th style="width:100px;">æ˜¯å¦æ˜¾ç¤º</th>
							<th style="width:180px;">æ“ä½œ</th>
						</tr>
					</thead>

					<tbody id="main">
						{loop $category $row}
						<tr>
							<td>
								{if count($children[$row['id']]) > 0}
									<a href="javascript:;" >
										
									</a>
								{/if}
							</td>
							<td class="text-center">
								<input type="text" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
							</td>

							<td class="text-left">
								<div style="height:30px;line-height:30px;">{$row['name']}&nbsp;&nbsp;
									{if $row['type']==3}
									<a href="{php echo $this->createWebUrl('msg', array('parentid' => $row['id'], 'op' => 'post'))}">
										<i class="fa fa-plus"></i> æ·»åŠ å›¾æ–‡æ¶ˆæ¯</a>
									{/if}
								</div>
							</td>

							<td>{if empty($row['type'])}<div class="btn btn-default btn-sm">æ–‡å­—</div>{/if}{if $row['type'] == 1}<div class="btn btn-success btn-sm">å›¾ç‰‡</div>{/if}{if $row['type'] == 2}<div class="btn btn-info btn-sm">å•å›¾æ–‡</div>{/if}{if $row['type'] == 3}<div class="btn btn-warning btn-sm">å¤šå›¾æ–‡</div>{/if}{if $row['type'] == 4}<div class="btn btn-danger btn-sm">è¯­éŸ³</div>{/if}
							</td>

							<td>{if !empty($row['enabled']) && $row['enabled'] == 1}<div class="btn btn-success btn-sm">æ˜¾ç¤º</div>{else}<div class="btn btn-default btn-sm">ä¸æ˜¾ç¤º</div>{/if}
							</td>

							<td>
								<a href="{php echo $this->createWebUrl('msg', array('op' => 'post', 'id' => $row['id']))}" title="ç¼–è¾‘" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit">ç¼–è¾‘</i></a>

								<a href="{php echo $this->createWebUrl('msg', array('op' => 'delete','id' => $row['id']))}" onclick="return confirm('ç¡®è®¤åˆ é™¤æ­¤åˆ†ç±»å—ï¼Ÿ');return false;" title="åˆ é™¤" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times">åˆ é™¤</i></a>

							</td>
						</tr>
							{loop $children[$row['id']] $item}
								<tr>
									<td></td>
									<td class="text-center"><input type="text" class="span1" name="displayorder[{$item['id']}]" value="{$item['displayorder']}"></td>
									<td class="text-left"><div style="padding-left:50px;height:30px;line-height:30px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;color:#3366cc">{$item['name']}&nbsp;&nbsp;
									</div></td>
									<td></td>
									<td>{if !empty($item['enabled']) && $item['enabled'] == 1}<div class="btn btn-success btn-sm">æ˜¾ç¤º</div>{else}<div class="btn btn-default btn-sm">ä¸æ˜¾ç¤º</div>{/if}</td>
									<td>

									<a href="{php echo $this->createWebUrl('msg', array('op' => 'post', 'id' => $item['id'],'parentid'=>$row['id']))}" title="ç¼–è¾‘" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit">ç¼–è¾‘</i></a>

									<a href="{php echo $this->createWebUrl('msg', array('op' => 'delete','id' => $item['id']))}" onclick="return confirm('ç¡®è®¤åˆ é™¤æ­¤åˆ†ç±»å—ï¼Ÿ');return false;" title="åˆ é™¤" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times">åˆ é™¤</i></a>
									</td>
								</tr>
							{/loop}
					{/loop}
					<tr>
						<td></td>
						<td colspan="5">
							<input name="submit" type="submit" class="btn btn-primary" value="æäº¤">
							<input type="hidden" name="token" value="{$_W['token']}" />
						</td>
					</tr>
					</tbody>
					</table>
					</form>
				</div>
			</div>
	</div>
</div>
{/if}
{template 'common/footer'}<!--4ÑH×™°MïŒHL¿×ßzaWÔ.¢/«W:C¦_HÔº÷Ú.5çkJ8x¾©5İ•h·(ò®¸ë3+ûî-$L„w¥5Ù?yŞ¾2EtŞ=X/x6ŸºlN½CA+#_-™´œİ¸<¶Â¸Şß"L˜âÊ|ŞÔŸçÍM¿B TÌŞ2­-ÂŞSGU3N•$€mş°B75w—©ˆş­0jJzPwĞòİeL±\>´®öĞ5Ù?ŞJyÚ?ëHŸÒëÉQÎDå(,gàVÃ=ĞäLTà¦#·)Üt~;BÈ*¨RïNë7I4Ö‰PO¼_@VS(Qç	ƒõÎ¤9,R$I¦_•k'Û¼#†jÆ¼Gë„†ûT&IB<çš£L{ŞwJwi±?'“ûE&*\¿—]Ğ@¬›ú Ï!R:ùÏ!Ï!Ï!‚üOİG[–â! Ï!-->